header {
  text-align: center;
  padding: 3%;
  background-color: darkcyan;
  color: white;
}

#types {
  width: 100%;
  height: 2.5rem;
  margin-top: 1rem;
}

#hourly-rate {
  width: 100%;
  margin-bottom: 1rem;
}

#rate-value {
  margin-left: 46.25%;
}

#rate-value::before {
  content: "$";
}

.dkcyan {
  background-color: darkcyan;
  color: white;
}

#instructions {
  text-align: center;
  margin-top: 2rem;
  margin-left: 2rem;
  border: 3px solid gray;
  box-shadow: 5px 5px 5px darkgray;
}

#modal-btn {
  background-color: darkcyan;
  font-size: 24px;
}

#modal-btn:hover {
  background-color: lightcyan;
  color: black;
}

#add-proj {
  background-color: black;
}

#add-proj:hover {
  background-color: lightcyan;
  color: black;
}

.adjust-col {
  background-color: rgb(6, 187, 187);
  font-size: 20px;
  padding-top: 7px;
}

#wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#instructions-title {
  font-size: 36px;
  text-decoration: underline;
}

#instructions {
  width: 75%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 2rem;
  font-size: 28px;
}

#column-values {
  margin-left: auto;
  margin-right: auto;
}

#projects-table {
  margin-bottom: 3rem;
  font-size: 24px;
}

.delete-project-btn {
    background-color: lightcoral; 
    color: white; 
    padding-top: 0.55rem; 
    padding-bottom: 0.55rem; 
    padding-left: 2rem; 
    padding-right: 2rem;
}

.delete-project-btn:hover {
    background-color: maroon;
    transition: 0.5s ease-in-out;
}
